<!DOCTYPE html>
<html lang="en">
    <% include ../partials/header.ejs %>
  <body>
    <h1>Hello, world!</h1>
    <a class="btn btn-primary" href="/update" role="button">Update</a>
    <a class="btn btn-primary" href="/api/update" role="button">check update</a>
  </body>
</html>